.body {
  box-shadow: 3px 3px 5px 6px #ccc;
  border: 1px solid #363e6d;
  margin: 30px auto;
  max-width: 360px;
  padding: 1em;
  text-align: center;
  width: 66wv;

  .login-frame {

    .mat-form-field {
      width: 100%;
      input {
        width: 100%;
      }
    }
    .nav {
      text-align: right;
    }

  }

}
