@mixin text-elispsis-ml($font-size, $line-height, $lines-to-show ) {
  display: -webkit-box;
  font-size: $font-size;
  height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
  line-height: $line-height;
  margin: 0 auto;
  max-width: 400px;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
